NODE_ENV=production
PORT=8000
FRONTEND_URL=https://your-domain.example

DB_URL=
JWT_SECRET_KEY=
JWT_EXPIRES=90d
ACTIVATION_SECRET=
ACTIVATION_EXPIRES=5m

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_MAIL=
SMTP_PASSWORD=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
